body {
    color: #f6f6f6;
    font-family: 'Comic Sans MS';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000, #696969);
}

strong {
    color: #22d4fd;
}